body{
    background-color: #c1f7ee;
    color: rgb(0, 0, 0);
}

.cabecalhoimagem{
    width: 100%;
}

.colegio{
    text-align: center;
}

.fundacao{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
}